body {
  background-color: rgb(37, 37, 37);
  color: white;
}

#dati-sp table {
  text-align: center;
}

#container-bilancio {
  display: flex;
  flex-wrap: wrap;
}

#sp-riclassificato-sintetico, #CE {
  border-collapse: collapse;
  border: 5px solid;
  text-align: center;
  margin: auto;
}

/* seleziono le celle senza id in table con id */
#sp-riclassificato-sintetico th,
#sp-riclassificato-sintetico td,
#CE th, #CE td {
  background-color: black;
  border-bottom: 1px solid;
}

.sp-vuoto {
  width: 6px;
}

.sp-classe, .sp-sottoclasse, .ce-classe {
  text-align: left;
  padding-left: 6px;
}

.sp-percentuale {
  text-align: left;
  width: 50px;
}

.sp-valore {
  text-align: center;
  width: 130px;
}

.sp-sottoclasse {
  width: 80px;
}

#sp-riclassificato-sintetico tr,
#CE tr {
  height: 50px;
}

.sp-classe {
  font-weight: bold;
}

#CE {
  width: 640px;
}

.ce-valore {
  width: 20%;
  text-align: center;
}